.channel-chat {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.message-options {
  display: inline-block;
  width: 24px;
}

.channel-message {
  position: relative;
  width: 100%;
}

.channel-message:hover {
  background-color: #5a5a5a;
}

.emoji-box {
  display: none;
  position: absolute;
  top: -12px;
  right: 65px;
  cursor: pointer;
}

.reaction {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  padding: 3px 7px;
  border-radius: 15px 15px;
  margin: 0px 3px 8px 0;
  font-size: 13px;
  box-sizing: border-box;
  color: white;
}

.emoji-container {
  position: absolute;
  cursor: pointer;
  overflow-y: hidden;
  width: 231px;
  height: 150px;
  right: 63px;
  top: -172px;
  z-index: 999;
  border: 1px solid black;
  /* border-right: none; */
  border-radius: 5px 5px 5px 5px;
  padding: 0 0 5px 5px;
  background-color: grey;
}

.emoji-container:hover {
  overflow-y: scroll;
}

.emoji-container::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}
.emoji-container::-webkit-scrollbar-track {
  /* background: white; */
  padding: 3px;
  border-radius: 15px;
}

.emoji-container::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 5px;
  width: 3px;
}

.emoji-group {
  color: white;
  margin: 7px 0 7px 30px;
}

.reaction-highlight {
  background-color: #006ee6;
  border: 1px solid #006ee6;
}

.reaction-no-highlight {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
}

.reaction-no-highlight:hover {
  border: 1px solid white;
  box-sizing: border-box;
}

.chat-box {
  justify-self: end;
}

.chat-form {
  margin-top: 50px;
}

.chat-room-container {
  margin-bottom: 25px;
}

.message-user {
  /* margin-right: 0; */
  font-size: 1em;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  line-height: 0;
  width: 100%;
  text-align: right;
  margin: 0 20px 10px 0;
  padding-right: 20px;
}

.chat-message {
  display: flex;
  flex-direction: column;
}

.message-content {
  width: 100%;
  display: block;
  font-size: 1.25em;
  padding: 20px 20px 20px 15px;
  box-sizing: border-box;
  /* background: #242424; */
}
