.channel-chat {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.message-options {
  display: inline-block;
  width: 24px;
}

.channel-message {
  position: relative;
  width: 100%;
}

.emoji-box {
  display: none;
  position: absolute;
  top: -12px;
  right: 65px;
  cursor: pointer;
}

.reaction {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  padding: 3px 7px;
  border-radius: 15px 15px;
  margin: 0px 3px 8px 0;
  font-size: 13px;
  box-sizing: border-box;
  color: white;
}

.emoji-container {
  position: absolute;
  cursor: pointer;
  overflow-y: scroll;
  width: 231px;
  height: 150px;
  right: 63px;
  top: -190px;
  z-index: 999;
  border: 1px solid black;
  border-right: none;
  border-radius: 15px;
  padding: 15px;
  background-color: grey;
}

.reaction-highlight {
  background-color: #006ee6;
  border: 1px solid #006ee6;
}

.reaction-no-highlight {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
}

.reaction-no-highlight:hover {
  border: 1px solid white;
  box-sizing: border-box;
}

.chat-box {
  justify-self: end;
}

.chat-form {
  margin-top: 50px;
}
