.channel-chat {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.message-options {
  display: inline;
}

.channel-message {
  position: relative;
  width: 100%;
}

.emoji-box {
  display: none;
  position: absolute;
  top: -12px;
  right: 65px;
}

.chat-box {
  justify-self: end;
}

.chat-form {
  margin-top: 50px;
}
