.sidebar-container {
  height: 100%;
  /* overflow: hidden; */
  display: flex;
  /* width: 99px; */
  max-width: 65vw;
  /* flex: 1 1 250px; */

  & > .sidebar-main {
    flex: 1 1 auto;
    align-self: auto;
  }
}

.sidebar-main {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 55px;
  /* background-color: blue; */
  flex: 1 100 auto;
}

.sidebar-workspace-title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar-main > ul {
  text-overflow: ellipsis;
  overflow: hidden;
}

.resize-handle {
  width: 20px;
  cursor: col-resize;
  background: linear-gradient(lightgrey, lightgrey) no-repeat center/1px 100%;
  flex-shrink: 0;
}

.resize-handle-selected {
  width: 20px;
  background: linear-gradient(#44acfd, #44acfd) no-repeat center/3px 100%;
  flex-shrink: 0;
}

.sidebar-workspace-title {
  margin: 15px 0 0 10px;
  font-size: 20px;
}
