.sidebar-container {
  height: 100%;
  display: flex;
  max-width: 45vw;

  & > .sidebar-main {
    flex: 1 1000 auto;
    /* align-self: auto; */
  }
}

.sidebar-main {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 55px;
  flex: 1 1000 auto;
}

.sidebar-workspace-title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar-main > ul {
  text-overflow: ellipsis;
  overflow: hidden;
}

.resize-handle {
  width: 20px;
  cursor: col-resize;
  background: linear-gradient(lightgrey, lightgrey) no-repeat center/1px 100%;
  flex-shrink: 0;
}

.resize-handle-selected {
  width: 20px;
  background: linear-gradient(#44acfd, #44acfd) no-repeat center/3px 100%;
  flex-shrink: 0;
}

.sidebar-workspace-title {
  margin: 15px 0 0 10px;
  font-size: 20px;
}
