.sidebar-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  & > .sidebar-main {
    order: 0;
    flex: 0 0 auto;
    align-self: auto;
  }

  & > .content {
    order: 0;
    flex: 1 1, auto;
    align-self: auto;
  }
}

.sidebar-main {
  height: 100vh;
  width: 200px;
  max-width: 750px;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-main > p,
h1 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.resize-handle {
  width: 1px;
  border: 1px solid black;
  cursor: col-resize;
  background-color: grey;
}
