.sidebar-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  & > .sidebar-main {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }

  & > .content {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }
}

.sidebar-main {
  height: 100vh;
  overflow: hidden;
  white-space: nowrap;
  max-width: 25vw;
}

.sidebar-main > ul,
h1 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.resize-handle {
  width: 1px;
  margin-right: 3px;
  border-right: 1px solid lightgrey;
  cursor: col-resize;
  background-color: grey;
  box-sizing: border-box;
}
